*{
    padding: 0;
    margin: 0;
}

section{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bgid
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background:#2045FE;
}


#sid
{
      font-size: 20px;
      position: relative;
      padding: 10px;
      border: none;
      outline: none;
      width:300px;
      border-radius: 5px;
      box-shadow: 0 15px 23px rgba(0,0,0,0.1);
}

.hello
{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategray;
    margin-top: 200px;
}
