body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: left;
}

button
{
    border: hidden;
    background-color: teal;
    font-size: 30px;
    color: rgb(255, 252, 58);
   
}


.one
{
    background-color: teal;
    width: 700px;   
    height: 120px;
    margin: auto;
    margin-top: 40px;
   
}

.two , .three
{
    background-color: teal;
    width: 700px;   
    height: 120px;
    margin: auto;
    margin-top: 10px;
    
}

.one,.two,.three p
{

font-size: 30px;
}

.one p,p,button
{
    
    padding-left: 90px;
    
}

.two p,p,button
{
    display: inline-block;
    padding-left: 90px;
    
}

.one button{
    margin-left: 76px;  
    color: greenyellow; 
}
.two button
{
    margin-left: 29px;
    color: greenyellow; 
}

.three button{
    margin-left: 98px;  
    color: greenyellow;  
}


.three p,p,button
{
    display: inline-block;
    padding-left: 90px;
    
}

h3{
    text-align: center;
    margin-top: 60px;
}